main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
  
  section {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    min-width: 40vw;
    max-width: 50vw;
    max-height: 50vh;

    h1 {
      margin-bottom: 10px;
    }

    h3 {
      margin: 10px 0 10px 0;
    }

    form {
      padding-bottom: 20px;

      input {
        border-radius: 5px;
        border: 1px solid #f5f5f5;
        padding: 10px;
        width: 85%;
      }
      
      button {
        border: 1px solid #f5f5f5;
        background-color: transparent;
        border-radius: 55%;
        padding: 5px;
        margin-left: 10px;
      }
    }

  }
}

@media (max-width: 600px) {
  main {
    padding-top: 10%;

    section {
      min-width: 70vw;
      max-height: 80vh;

      form {
        padding-top: 5px;

        input {
          width: 75%;
        }
      }
    }
  }
}