<main>
  <section class="repositories-list">
    <h1>Lista de repositórios do {{userId}}</h1>
    @if (loading()) {
      <app-loading />
    } @else if (error()) {
      <app-error [errorCode]="error()"/>
    } @else { 
      <div class="repositories-list__actions">
        <button data-testid="button-start-sort" type="button" (click)="sortListByStarCount()"><img ngSrc="/star-icon.svg" alt="ordernar por quantidade de estrelas" width="17" height="17"/></button>
        <button data-testid="button-sort-ascending" type="button" (click)="sortListByAscendingAlphaOrder()"><img ngSrc="/sort-up-icon.svg" alt="ordernar por nome de forma crescente" width="17" height="17"/></button>
        <button data-testid="button-sort-descending" type="button" (click)="sortListByDescendingAlphaOrder()"><img ngSrc="/sort-down-icon.svg" alt="ordernar por nome de forma decrescente" width="17" height="17"/></button>
      </div>
      <div class="repositories-list__container">
        @for (repository of userRepositories; track repository.id) {
          <app-repository-information [repositoryInformation]="repository"/>
        }
      </div>
    }
  </section>
</main>
