main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  
  .repositories-list {
    background-color: white;
    padding: 30px;
    border-radius: 20px;

    &__actions {
      display: flex;
      justify-content: flex-end;
      padding: 10px 0;
      gap: 4px;
  
      button {
        background: transparent;
        border: 1px solid #f5f5f5;
        border-radius: 15px;
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
      }
    }

    &__container {
      max-height: 70vh;
      overflow: auto;
    }
  }
}