<section class="repository-information">
  <div class="repository-information__card">
    <div class="repository-information__card__content">
      <h2>{{ repositoryInformation.name }}</h2>
      <p>{{ repositoryInformation.description }}</p>
      <a [href]="repositoryInformation.html_url" target="_blank">Ver no GitHub</a>
    </div>
    <div class="repository-information__card__content">
      <h3><img ngSrc="/star-icon.svg" alt="quantidade de estrelas" width="15" height="15"/>{{ repositoryInformation.stargazers_count }}</h3>
      @if (repositoryInformation.language) {
        <h3><img ngSrc="/language-icon.svg" alt="linguagem" width="15" height="15"/>{{ repositoryInformation.language }}</h3>
      }
    </div>
  </div>
</section>