/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background-color: #fbfbfb;
  height: 100%;
  font-family: 'Winky-Sans', sans-serif;

  h1, h2, h3, h4, h5, p {
    margin: 0;
  }
}
